@model Exception

@{
    ViewData["Title"] = "ErrorDevelopment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ErrorDevelopment</h1>





<h1>Error</h1>
<p>An error occurred while processing your request.</p>
<h2>Details</h2>
<pre>@Model?.Message</pre>
<pre>@Model?.StackTrace</pre>
